.constructor_content{
    width: 600px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 40px;
}

.constructor_ingredients{
    width: 568px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.constructor_ingredients * {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top_bottom_buns {
    width: 530px;
}
.constructor_info{
    width:600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bun_empty {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed grey;
    width: 568px;
    padding: 16px 24px;
}

.is_hovering {
    border: 1px solid red;
}

