.order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    font-weight: normal;
    text-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);
}

.status {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status svg {
    width: 48px;
    height: 48px;
    position: absolute;
}
