.container {
    composes: container from  "../../css/main.css";
}

.profile_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.profile_content {
    width: 100%;
}
