@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/Iceland.ttf") format("truetype");
}

.wrapper {
    font-family: 'Iceland', Arial, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #131316;
}

.container {
    composes: container from  "../../css/main.css";
}

.content_body{
    display: flex;
    justify-content: space-between;
}
