.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.composition {
    display: flex;
    justify-content: center;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.items:last-child {
    margin-right: 0;
}
