.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 180px;
}

.form_button {
    display: flex;
    justify-content: center;
}

.login_links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
