.wrapper_bg_s_1 {
    background-image: url("../../images/not-found/space_1.jpg");
}

.wrapper_bg_s_2 {
    background-image: url("../../images/not-found/space_2.jpg");
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-position-x: -25vw;
    background-repeat: no-repeat;
}


.container {
    padding: 20px;
    flex-direction: column;
}

.content {
    margin: auto;
}

.link {
    color: #9394ff;
}
