@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/Iceland.ttf") format("truetype");
}

.container {
    composes: container from  "../../css/main.css";
}

.header{
    background: #1C1C21;
    width: 100%;
    height: 88px;
}

.header_content{
    display: flex;
    font-family: 'JetBrains Mono', Arial, sans-serif;
    font-size: 16px;
    color: #8585AD;
    justify-content: space-between;
    align-items: center;
}

.header_menu{
    width: calc(100%/3);
}
.header_list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header_link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_link_active{
    color: #ffffff;
}

.header_logo{
    height: 50px;
    width: calc(100%/3);
    text-align: center;
}

.header_profile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100%/3);
}

